# Object files
*.o
*.lo
*.ko
*.obj
*.elf
*.mod.c
.*.o.cmd
.*.ko.cmd
*.lib
*.a
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

zbc_info
zbc_inquiry
zbc_report_zones
zbc_reset_write_ptr
zbc_close_zone
zbc_finish_zone
zbc_open_zone
zbc_write_zone
zbc_read_zone
zbc_set_zones
zbc_set_write_ptr
gzbc

test/programs/zbc_test_print_devinfo
test/programs/zbc_test_report_zones
test/programs/zbc_test_reset_write_ptr
test/programs/zbc_test_close_zone
test/programs/zbc_test_finish_zone
test/programs/zbc_test_open_zone
test/programs/zbc_test_read_zone
test/programs/zbc_test_write_zone
test/log

# Kernel compile files
*.symvers
modules.order
.tmp_versions

# Dependency files
.depfile
.depend

# Windows-specific files
Thumbs.db
desktop.ini

# Mac-specific things (thanks to Michael Aaron Safyan)
.DS_Store

# Editors temporary files
*~

# Autotools stuff
m4/*.m4
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
configure
include/config.h.in
Makefile
config.log
config.status
include/config.h
include/stamp-h1
.deps
libtool
libzbc.pc
.libs
.dirstamp

tools/lkvs/config/
tools/lkvs/gtest/m4/libtool.m4
tools/lkvs/gtest/m4/ltoptions.m4
tools/lkvs/gtest/m4/ltsugar.m4
tools/lkvs/gtest/m4/ltversion.m4
tools/lkvs/gtest/m4/lt~obsolete.m4
tools/lkvs/gtest/scripts/gtest-config
tools/lkvs/m4/libtool.m4
tools/lkvs/m4/ltoptions.m4
tools/lkvs/m4/ltsugar.m4
tools/lkvs/m4/ltversion.m4
tools/lkvs/m4/lt~obsolete.m4

tools/lkvs/src/examples/lkvsfileput
tools/lkvs/src/examples/lkvsget
tools/lkvs/src/examples/lkvsmultiget
tools/lkvs/src/examples/lkvsmultiput
tools/lkvs/src/examples/lkvsput
